<div class="card mt-10" style="margin-top: 5%;">
    <div class="card-header">
     <h1>Lista de Empleados</h1> 
     <a routerLink="/create-employed" class="btn btn-primary" style="margin-left: auto;">Crear Nuevo Empleado</a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Esta es la lista de los empleados que están almacenados en la Base de Datos</h5>
      <table class="table" style="margin-top: 8%;">
        <thead>
          <tr>
            <th scope="col">id Empleado</th>
            <th scope="col">Nombre Empleado</th>
            <th scope="col">Apellido Empleado</th>
            <th scope="col">Correo Empleado</th>
            <th scope="col">Cargo Empleado</th>
            <th>Acción Eliminar</th>
            <th>Actión Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employ of employes"> 
            <th scope="row" >{{ employ.idEmpleado }}</th>
            <th >{{ employ.nombreEmpleado }}</th>
            <th >{{ employ.apellidoEmpleado }} </th>
            <td>{{ employ.email }}</td>
            <td>{{ employ.cargo }}</td>
            <td><a href="/employed" type="button" class="btn btn-danger" (click)="onDeleteEmploy(employ.docIdent)">Eliminar</a></td>
            <td><a [routerLink]="['/edit_employed/',employ.docIdent]"  type="button" class="btn btn-warning">Editar</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
